*{
  color: red;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: rgb(25, 24, 24);
    padding: 20px;
    border-radius: 5px;
    width: 300px;
  }
  
  .close-button {
    background: transparent;
    border: 2px solid red;
    cursor: pointer;
    font-size: 16px;
    float: right;
  }
  