.carousel-container {
    overflow: hidden;
    width: 100%;
    position: relative;
  }
  
  .carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px; 
  }
  
  .carousel-image {
    width: 450px;
    height: 450px; 
    object-fit: cover; 
  }
  
  .carousel-info {
    text-align: center;
    margin-top: 10px;
  }
  
  .price {
    font-weight: bold;
    color: #333;
  }
  